
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Montserrat",sans-serif;
}

html {
    scroll-behavior:smooth;
}

::-webkit-scrollbar {
    width: 0px;
  }

.container {
    width:100vw;
    background-color:#fff;
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
}


.sidebar {
    width:22%;
    height:100vh;
    background-color: #fff;
    padding:1.5rem 2rem;
    display:flex;
    border-right:solid 1px #ddd;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    text-align:center;
}

.sidebar h2 a {
    text-decoration:none;
    color:#101010;
}

.sidebar-links {
    display:flex;
    flex-direction: column;
    row-gap:30px;
    margin-top:40px;
}

.sidebar-links a {
    text-decoration:none;
    display: flex;
    column-gap:15px;
    align-items: center;
    
}

.sidebar-links a.active {
    opacity:0.5;
}

.sidebar-links a i {
  font-size:1.6em;
}

.sidebar-links a p {
    font-size:1rem;
    font-weight:600;
}

.logout-btn {
    outline:none;
    border:none;
    background:none;
    display: flex;
    align-items: center;
    font-size:0.9rem;
    font-weight:600;
    column-gap:12px;
    cursor:pointer;

}



.alert {
    width:88%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert h2 {
    text-transform:uppercase; 
    font-weight:700;
    font-size:1.1rem;
}

.main {
    width:78%;
    height:100vh;
    overflow-y:scroll;
    padding:1.5rem 4rem;
    
}

.post-items {
    width:400px;
    background-color: #fff;
    margin:10px 0;
    overflow:hidden;
    border-radius:4px;
    border-bottom:solid 1px #ddd;
    padding-bottom:0.6rem;
}

.post-items img {
    width:100%;
    height:400px;
}

.caption {
    padding:1rem;
}

.action-post-btn {
    list-style:none;
    display:flex;
    align-items: center;
    column-gap:12px;
}

.action-post-btn li button {
    background:none;
    border:none;
    outline:none;
    cursor:pointer;
}

.action-post-btn li button i {
    font-size:1.7rem;
}

.title {
    display:flex;
    align-items: center;
    margin:12px 0 5px;
}

.title h5:nth-child(1) {
    font-size:1rem;
    font-weight:600;
}

.title h5:nth-child(2) {
    font-weight:500;
    font-size:0.92rem;
    margin-left:5px;
}

.caption p {
    font-size:0.9rem;
}

.user-posts {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0.6rem;
}

.user-profile {
    display:flex;
    align-items:center;
    column-gap:10px;
}

.user-profile p {
    font-weight:500;
}

.delete-post-btn {
    border:none;
    outline:none;
    cursor:pointer;
    background:none;
    color:lightcoral;
    font-size:1.1rem;
}